@font-face {
    font-family: National;
    src: url(data:font/otf;base64,https://www.uxfree.com/national-font-family/)
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-y: scroll;
}

.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    background-color: #32465a; 
}

.navbar-brand {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px; 
    height: 60px;
    background: url("freshturf-logo.png") no-repeat;
     background-size: 150px;
}


.nav-pills {
  float: right;
  margin-left: auto;
  height: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 15px 15px;
  font-size: 20px;
  line-height: 30px; 
    color: white;
}


.nav-pills li {
    
    width: 120px;
    height: 60px;
    font-size: 16px;  
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}


.nav-item a:hover,
.nav-item aa:focus {
    color: #ffffff;
}

.nav-item a:active {
     color: #D3D3D3;
     box-shadow: 0px 8px #ffffff;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    height: 100px;
    width: 100%;
    overflow: auto;
    line-height: 30px;
    position: absolute;
    top: 60px;
    padding-left: 0px;
    text-align: left;
    z-index: 1;
    background-image: linear-gradient(to top right, #e7994d, #e0c9c3);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #00ffFF;
}


.dropdown-content a {
    text-decoration: none;
    display: block;
    color: #00F;
    padding-left: 35px;
    border-bottom: 1px solid white;
}

.dropdown-content a:last-child {
    border-bottom: none;
}


.dropdown-content a:active {
    box-shadow: inset 2px 2px 1px #008,
    inset 2px 3px 5px rgba(0,0,255),
    inset -2px -3px 5px rgba(176,224,230);
}


.intro {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    
}

.play {
    width: 60px;
}


.show {
    display: block;
}

/* For Buiness section */
.for-biz {
    height: 500px;
    background-image: url(map.png);
    object-fit: contain;
}

.for-biz h1 {
    margin-left: 80px;
    width: 600px;
    padding-top: 60px;
    color: #32465a;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.24em;
}

.for-biz p {
    margin-left: 80px;
    width: 580px;
    font-size: 16px;
    color: #9aa9b8;
}

.checklist {
    margin-left: 210px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checklist li {
    list-style: none;
    font-size: 20px;
    color: #32465a;
    
}

.checklist li:before {
    content: "\f058";
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #7ed321;
}

.request-demo {
    margin-top: 50px;
    width: 90%;
    height: 110px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    background-color: #d1eef6;
    padding: 20px;
}

.form {
    width: 100%;    
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#lgFormGroupInput {
    width: 240px;
    line-height: 50px;
    padding: 5px;
    font-size: 1.2em;  
}

::-webkit-input-placeholder { /* Chrome/Operat/safari */
    font-size: 10px;
    padding: 5px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
    padding: 5px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
    padding: 5px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
    padding: 5px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

.demo {
    width: 220px;
    height: 60px;
    background-color: #00a1e9;
}

/* Delivery Solution Section */
.solution {
    background-color: white;
    height: 600px;
}

.solution h2 {
    margin-top: 50px;
    font-size: 36px;
    color: #32465a;
    font-weight: bold;
    text-align: center;
}

.solution p {
    width: 550px;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
    margin: 30px auto;  
}

.solution-content {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.list-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    list-style-image: url("group-12.png");
    font-size: 20px;
    font-weight: 600;
    color: #32465a;     
}

.list-sentence {
    width: 500px;
    font-size: 16px;
    color: #9aa9b8;
}

.solution-content img {
    margin-left: 100px;
}

.view-prod {
    background-color: white;
    border: white;
}

.view-prod a {
    font-size: 16px;
    color: #00a1e9;
    font-weight: 700;
    margin-left: 35px;
    text-decoration: none;
}

/* How it works section */
.works {
    height: 600px;
    width: 100%;
    background-color: #f3fbfd;
    
}
.works h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.works > p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
}

.how-it-works {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.how-it-works img {
    display: block;
    margin: 50px auto;
}

.how-it-works h6 {
    font-size: 18px;
    color: #32465a;
    font-weight: 600;
    text-align: center;
}

.how-it-works p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
}

/* Explore features section */
.features {
    background-color: white;
    height: 600px;
    width: 100%;
}

.features h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.features p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: #9aa9b8;
    text-align: center;
}

.four-images {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag-one {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}


.flag-two {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 350px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}

.flag-three {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 695px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}

.flag-four {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 1045px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}


.clients p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: #32465a;
    text-align: center;
}

.clients a {
    font-size: 22px;
    color: #00a1e9;
    font-weight: 700;
    text-decoration: none;
}

/* Contact section */
.contact {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: #f3fbfd;
}

.contact > h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.contact-subsection {
    width: 100%;
    margin: 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact > form {
    margin: 0 auto;
    width: 800px;
    height: 600px; 
}

#lgFormGroupInput2 {
    width: 450px;
    line-height: 50px;
    padding: 5px;
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

.demo2 {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    background-color: #00a1e9;
}

.doordash > p {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #32465a;
}

#carousel {
    width: 300px;
    height: 300px;
    
}


.carousel-indicators li {
    left: -100px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #7ed321;
    background-color: transparent;
}


.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #7ed321; 
}

.carousel-indicators {
    top: 120px;
    bottom: 15px;
    
}


.carousel-inner {
    width: 300px;
    height: 350px;
}

.carousel-row {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

.carousel-row img {
    width: 110px;
    height: 70px;
    margin-right: 10px;
}

.carousel-row h3 {
    width: 250px;
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    color: #32465a;
}

.carousel-row p {
    margin-top: 40px;
    width: 250px;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #9aa9b8;
}

/* Footer section */
.footer {
    width: 100%;
    height: 200px;
    background-color: #32465a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.brand p {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #f2f5f7
}

.brand i {
    margin: 5px;
}

.footer h3 {
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.footer li {
    list-style: none;
    font-size: 14px;
    color: #9aa9b8;
}