@font-face {
    font-family: National;
    src: url(data:font/otf;base64,https://www.uxfree.com/national-font-family/)
}

html {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-y: scroll;
}

.navbar-header {
    width: 100vw;
    height: 60px;
    padding: 13px 0 15px 0;
    background-color: #32465a; 
}

.navbar-container {
    width: 100vw;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

.navbar-brand {
    /*margin-top: 10px;
    margin-left: 0;  */
    width: 102px; 
    height: 38px;
    background: url("freshturf-logo.png") no-repeat;
    /*background-size: 150px; */
    object-fit: contain;
}

.nav {
    height: 19px;
    width: 80%;
    padding: 15px 15px 15px 0;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: normal;
    color: #ffffff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}

.nav-link {
    width: 160px;
    color: #ffffff;
    opacity: 0.5;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
}

.nav-link:active {
    /* color: #D3D3D3; */
    color: #ffffff;
    opacity: 1;
    box-shadow: 0px 6px #ffffff;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dropdown-toggle {
    margin-left: 1opx;
}

.dropdown-content {
    display: none;
    height: 100px;
    width: 160px;
    overflow: auto;
    line-height: 30px;
    position: absolute;
    top: 48px;
    left: -10px;
    padding-left: 0px;
    /* text-align: left; */
    z-index: 1;
    background-color: #32465a; 
}
    
.dropdown-item {
    color: #ffffff;
    opacity: 0.5; 
    text-decoration: none;
    display: block;
    /* padding-left: 35px; */
    background-color: #32465a;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ffffff;
    opacity: 1;
    background-color: #32465a;
}

.dropdown-item:active {
    color: #ffffff;
    opacity: 1;
}

/*
.dropdown-content a {
    text-decoration: none;
    display: block;
    color: #00F;
    padding-left: 35px;
    border-bottom: 1px solid white;
}
*/
.dropdown-content a:last-child {
    border-bottom: none;
}

/*
.dropdown-content a:active {
    box-shadow: inset 2px 2px 1px #008,
    inset 2px 3px 5px rgba(0,0,255),
    inset -2px -3px 5px rgba(176,224,230);
}
*/


.show {
    display: block;
}

.watch-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
}
.play {
    margin-top: 5px;
    margin-left: 50px;
    width: 25px;
    height: 17px;
   /* display: inline-block; 
    float: left; */
    object-fit: contain;  
}

.watch-link {
    margin-left: 10px;
    /*display: inline; */
    font-size: 16px;
    font-weight: 600;
    color: #00a1e9;
}

.watch-link:hover,
.watch-link:focus {
    color: #ffffff;
}

.watch-link:active {
    /* color: #D3D3D3; */
    color: #ffffff;
    opacity: 1;
    box-shadow: 0px 8px #ffffff;
}

/* For Buiness section */
.for-biz {
    height: 440px;
    background-color: #ebf6f9;
    background-image: url(map.svg);
    object-fit: contain;
}

.biz-panel {
    width: 100vw;
    height: 255px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.growbiz {
    margin-left: 50px;
    padding-top: 87px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.grow-biz h1 {
    color: #32465a;
    font-size: 42px;
    font-weight: 800;
    line-height: 1.24em;
}

.growbiz p {
    padding-top: 20px;
    font-size: 16px;
    line-height: 1.56em;
    color: #9aa9b8;
}

.checklist {
    margin-left: 150px;
    padding-top: 72px;
    height: 245px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checklist li {
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    color: #32465a;
    
}

.checklist li:before {
    content: "\f058";
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #7ed321;
}

.form-container{
    width: 100vw;
    height: 95px;
    padding-top: 55px;
} 

.request-demo {
    margin-left: 70px;
    width: 89%;
    height: 95px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center; 
    background-color: #d1eef6;   
}

/*
.form {
    width: 100%; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
} 

.form-group {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
} 
*/

#lgFormGroupInput {
    width: 285px;
    height: 45px;
    line-height: 50px; 
    margin-left: 25px; 
    margin-right: 25px; 
    font-size: 1.2em;  
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #9dd6e6;
}

::-webkit-input-placeholder { /* Chrome/Operat/safari */
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    color: #9aa9b8;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

:-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    line-height: normal;
    padding-left: 20px;
    color: blue-grey;
    height: 50px;
    vertical-align: super;
    opacity: 0.5;
}

.demo {
    width: 271px;
    height: 45px;
    margin-left: 25px; 
    /*margin-right: 15px; */
    border-radius: 4px;
    background-color: #00a1e9;
}

.demo a {
    width: 162px;
    height: 21px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}


/* Delivery Solution Section */
.solution {
    background-color: white;
    height: 663px;
}

.solution h2 {
    margin-top: 50px;
    font-size: 36px;
    color: #32465a;
    font-weight: bold;
    text-align: center;
}

.solution p {
    width: 550px;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
    margin: 30px auto;  
}

.solution-content {
    width: 100%;
    margin: 20px 20px 20px 50px;
    padding-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /*  flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    
}

.list-heading {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-image: url("group-12.svg");
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #32465a;     
}

.list-sentence {
    width: 500px;
    margin-bottom: 30px;
    font-size: 16px;
    color: #9aa9b8;
    list-style: none;
}

.solution-content img {
    margin-top: -50px;
    
    width: 675px;
    height: 497px;
}

.view-prod {
    background-color: white;
    border: white;
}

.view-prod a {
    font-size: 16px;
    color: #00a1e9;
    font-weight: 700;
    margin-left: 35px;
    text-decoration: none;
}


/* How it works section */
.works {
    height: 600px;
    width: 100%;
    background-color: #f3fbfd;
    
}
.works h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.works > p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
}

.how-it-works {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.how-it-works img {
    display: block;
    margin: 50px auto;
}

.how-it-works h6 {
    font-size: 18px;
    color: #32465a;
    font-weight: 600;
    text-align: center;
}

.how-it-works p {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #9aa9b8;
    text-align: center;
}

/* Explore features section */
.features {
    background-color: white;
    height: 600px;
    width: 100%;
}

.features h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.features p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: #9aa9b8;
    text-align: center;
}

.four-images {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
}

.flag-one {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}


.flag-two {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 350px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}

.flag-three {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 695px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}

.flag-four {
    width: 130px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    left: 1045px;
    bottom: 20px;
    background: #7ed321;
    color: white;
    font-size: 14px;
       -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 1% 1%);
}


.clients p {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    color: #32465a;
    text-align: center;
}

.clients a {
    font-size: 22px;
    color: #00a1e9;
    font-weight: 700;
    text-decoration: none;
}

/* Contact section */
.contact {
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-color: #f3fbfd;
}

.contact > h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    width: 100%;
    color: #32465a;
    text-align: center;
}

.contact-subsection {
    width: 100%;
    margin: 0 150px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact > form {
    margin: 0 auto;
    width: 800px;
    height: 600px; 
}

#lgFormGroupInput2 {
    width: 450px;
    line-height: 50px;
    padding: 5px;
    font-size: 1.2em; 
    margin-bottom: 30px; 
}

.demo2 {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    background-color: #00a1e9;
}

.demo2 a {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: #ffffff;
}

.doordash > p {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: #32465a;
}

#carousel {
    width: 300px;
    height: 300px;
    
}


.carousel-indicators li {
    left: -100px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    text-indent: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #7ed321;
    background-color: transparent;
}


.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #7ed321; 
}

.carousel-indicators {
    top: 120px;
    bottom: 15px;
    
}


.carousel-inner {
    width: 300px;
    height: 350px;
}

.carousel-row {
    width: 330px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    /* -webkit-flex-flow: row wrap; */
    justify-content: space-between;
    align-content: flex-start;
}

.carousel-row img {
    width: 110px;
    height: 70px;
    margin-right: 10px;
}

.carousel-row h3 {
    width: 250px;
    position: absolute;
    top: 7px;
    font-size: 18px;
    font-weight: 600;
    color: #32465a;
}

.carousel-row p {
    margin-top: 40px;
    width: 250px;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #9aa9b8;
}

/* Footer section */
.footer {
    width: 100%;
    height: 200px;
    background-color: #32465a;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   /* flex-direction: row; */
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.brand p {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    color: #f2f5f7
}

.brand i {
    margin: 5px;
}

.footer h3 {
    margin-left: 40px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.footer li {
    list-style: none;
    font-size: 14px;
    color: #9aa9b8;
}